{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Popis artikala</h2>
  <div class="btn-group mb-3">
    <a
      class="btn btn-secondary {{ 'active' if status == 'all'       else '' }}"
      href="{{ url_for('index') }}"
      >Svi</a
    >
    <a
      class="btn btn-secondary {{ 'active' if status == 'dostupno'  else '' }}"
      href="{{ url_for('index', status='dostupno') }}"
      >Dostupni</a
    >
    <a
      class="btn btn-secondary {{ 'active' if status == 'rasprodano' else '' }}"
      href="{{ url_for('index', status='rasprodano') }}"
      >Rasprodani</a
    >
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          {% if sort == 'id' and order == 'desc' %}
          <!-- Trenutno je silazno, klik prebacuje na uzlazno -->
          <a
            href="{{ url_for('index', sort='id', order='asc', page=pagination.page) }}"
          >
            # <i class="bi bi-arrow-down"></i>
          </a>
          {% elif sort == 'id' and order == 'asc' %}
          <!-- Trenutno je uzlazno, klik prebacuje na silazno -->
          <a
            href="{{ url_for('index', sort='id', order='desc', page=pagination.page) }}"
          >
            # <i class="bi bi-arrow-up"></i>
          </a>
          {% else %}
          <!-- Ako nije sortirano po ID, zadano prikazujemo silazno -->
          <a
            href="{{ url_for('index', sort='id', order='desc', page=pagination.page) }}"
          >
            # <i class="bi bi-arrow-down"></i>
          </a>
          {% endif %}
        </th>
        <th>
          {% if sort == 'naziv' and order == 'asc' %}
          <a
            href="{{ url_for('index', sort='naziv', order='desc', page=pagination.page) }}"
          >
            Naziv <i class="bi bi-arrow-up"></i>
          </a>
          {% else %}
          <a
            href="{{ url_for('index', sort='naziv', order='asc', page=pagination.page) }}"
          >
            Naziv <i class="bi bi-arrow-down"></i>
          </a>
          {% endif %}
        </th>

        <th>
          {% if sort == 'kategorija' and order == 'asc' %}
          <a
            href="{{ url_for('index', sort='kategorija', order='desc', page=pagination.page) }}"
          >
            Kategorija <i class="bi bi-arrow-up"></i>
          </a>
          {% else %}
          <a
            href="{{ url_for('index', sort='kategorija', order='asc', page=pagination.page) }}"
          >
            Kategorija <i class="bi bi-arrow-down"></i>
          </a>
          {% endif %}
        </th>
        <th scope="col">Opis</th>
        <th>
          <!-- Ako je trenutačno sortiranje uzlazno, ponudi prebacivanje u silazni redoslijed, i obrnuto -->
          {% if sort == 'cijena' and order == 'asc' %}
          <a
            href="{{ url_for('index', sort='cijena', order='desc', page=pagination.page) }}"
          >
            Cijena <i class="bi bi-arrow-up"></i>
          </a>
          {% else %}
          <a
            href="{{ url_for('index', sort='cijena', order='asc', page=pagination.page) }}"
          >
            Cijena <i class="bi bi-arrow-down"></i>
          </a>
          {% endif %}
        </th>
        <th>
          {% if sort == 'stanje' and order == 'asc' %}
          <a
            href="{{ url_for('index', sort='stanje', order='desc', page=pagination.page) }}"
          >
            Stanje <i class="bi bi-arrow-up"></i>
          </a>
          {% else %}
          <a
            href="{{ url_for('index', sort='stanje', order='asc', page=pagination.page) }}"
          >
            Stanje <i class="bi bi-arrow-down"></i>
          </a>
          {% endif %}
        </th>
        <th scope="col">Slika</th>
        <th scope="col">Mogućnosti</th>
      </tr>
    </thead>
    <tbody>
      {% for proizvod in proizvodi %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ proizvod.naziv }}</td>
        <td>{{ proizvod.kategorija }}</td>
        <td>{{ proizvod.opis }}</td>
        <td>{{ proizvod.cijena }}</td>
        <td>{{ proizvod.stanje }}</td>
        <td>
          {% if proizvod.image_url %}
          <a href="{{ proizvod.image_url }}" target="_blank">
            <img
              src="{{ proizvod.image_url }}"
              alt="{{ proizvod.naziv }}"
              class="img-thumbnail"
              style="max-width: 100px"
            />
          </a>
          {% else %} Nema slike {% endif %}
        </td>
        <td>
          <a
            href="{{ url_for('uredi_proizvod', id=proizvod.id) }}"
            class="btn btn-warning d-block mb-2"
          >
            Uredi
          </a>
          <a
            href="{{ url_for('brisi_proizvod', id=proizvod.id) }}"
            class="btn btn-danger d-block"
          >
            Obriši
          </a>
          <br />
          <!-- Checkbox Rasprodano / Dostupno -->
          <form
            method="post"
            action="{{ url_for('toggle_rasprodano', id=proizvod.id) }}"
            class="d-inline"
          >
            <!-- Hidden value definira novo stanje koje backend postavlja -->
            <input
              type="hidden"
              name="stanje"
              value="{{ 0 if proizvod.stanje > 0 else 1 }}"
            />

            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="sold_{{
              proizvod.id }}" onchange="this.form.submit()" {{ 'checked' if
              proizvod.stanje == 0 else '' }}>
              <label
                class="form-check-label small"
                for="sold_{{ proizvod.id }}"
              >
                Označi kao rasprodano
              </label>
            </div>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% if pagination.pages > 1 %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if pagination.has_prev %}
    <li class="page-item">
      <a
        class="page-link"
        href="{{ url_for('index', page=pagination.prev_num) }}"
        aria-label="Prethodna"
      >
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link">&laquo;</span>
    </li>
    {% endif %} {% for p in pagination.iter_pages(left_edge=2, right_edge=2,
    left_current=2, right_current=2) %} {% if p %} {% if p == pagination.page %}
    <li class="page-item active"><span class="page-link">{{ p }}</span></li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for('index', page=p) }}">{{ p }}</a>
    </li>
    {% endif %} {% else %}
    <li class="page-item disabled"><span class="page-link">...</span></li>
    {% endif %} {% endfor %} {% if pagination.has_next %}
    <li class="page-item">
      <a
        class="page-link"
        href="{{ url_for('index', page=pagination.next_num) }}"
        aria-label="Sljedeća"
      >
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link">&raquo;</span>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %} {% endblock %}
