{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Popis artikala</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Naziv</th>
        <th scope="col">Kategorija</th>
        <th scope="col">Opis</th>
        <th scope="col">Cijena</th>
        <th scope="col">Stanje</th>
        <th scope="col">Slika</th>
        <th scope="col">Mogućnosti</th>
      </tr>
    </thead>
    <tbody>
      {% for proizvod in proizvodi %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ proizvod.naziv }}</td>
        <td>{{ proizvod.kategorija }}</td>
        <td>{{ proizvod.opis }}</td>
        <td>{{ proizvod.cijena }}</td>
        <td>{{ proizvod.stanje }}</td>
        <td>
          {% if proizvod.image_url %}
          <a href="{{ proizvod.image_url }}" target="_blank">
            <img
              src="{{ proizvod.image_url }}"
              alt="{{ proizvod.naziv }}"
              class="img-thumbnail"
              style="max-width: 100px"
            />
          </a>
          {% else %} Nema slike {% endif %}
        </td>
        <td>
          <a
            href="{{ url_for('uredi_proizvod', id=proizvod.id) }}"
            class="btn btn-warning d-block mb-2"
          >
            Uredi
          </a>
          <a
            href="{{ url_for('brisi_proizvod', id=proizvod.id) }}"
            class="btn btn-danger d-block"
          >
            Obriši
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
